---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/Blog.astro';

const posts = await Astro.glob('./posts/*.md');
---

<Layout title="Blog">
        <h1 class="text-2xl font-bold mb-8 text-zinc-400">Blog Posts</h1>
        <div class="space-y-8 bg-black">
          {posts.map(post => (
            <BlogCard
              href={post.url}
              title={post.frontmatter.title}
              date={post.frontmatter.date}
              description={post.frontmatter.description}
            />
          ))}
</Layout>