---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Footer from '../components/Footer';
---

<Layout title="Home">
    <Hero client:load />
    <Footer />
  </div>
</Layout>