---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Naufal Yasir",
  description = "Aspiring developer with a passion for crafting digital experiences. From websites to mobile apps, I'm on a journey to turn ideas into interactive realities. My code is my canvas, and every project is a new adventure in problem-solving and creativity.",
} = Astro.props;
---

<div>
  <h1 class="text-2xl font-bold text-zinc-400">{title}</h1>
  <p class="mt-4 font-jetbrains text-zinc-500">
    {description}
  </p>
</div>
