---
interface Props {
  links?: { href: string; text: string }[];
}

const {
  links = [
    { href: "/", text: "Home" },
    { href: "/blog", text: "Blog" },
    { href: "/projects", text: "Projects" },
  ],
} = Astro.props;
---

<nav class="flex-row mt-20 items-start justify-start py-6 pb-10">
  <div class="items-start text-base font-jetbrains">
    <nav class="flex gap-4 mx-auto">
      {
        links.map((link) => (
          <a href={link.href} class="relative px-1 overflow-hidden">
            <span class="hover:underline">{link.text}</span>
          </a>
        ))
      }
    </nav>
  </div>
</nav>
