---
import Navbar from '../components/Navbar';
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-black text-neutral-300 antialiased selection:bg-white selection:text-cyan-900">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
      <main class=" max-w-2xl mx-auto py-12">
		<Navbar client:load />
        <slot />
      </main>
    </div>
  </body>
</html>